apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: final-year-project
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP
