apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: final-year-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 010123070122/backend-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: JWT_SECRET_KEY
              value: "your-secret"
            - name: DATABASE_URL
              value: "your-db-url"
