apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: final-year-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 010123070122/frontend-app:latest
          ports:
            - containerPort: 3000
